[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Greymodels"]
	path = Greymodels
	url = https://github.com/havishaj/greymodels
